:root{
    --color-primario:#0f2028;
    --color-secundario:#e4fc32;
    --color-terciario:#e5e5e5;
    --color-adicional:#464646;
    --tipografia-titulos:"Krona One", sans-serif;
    --tipografia-parrafos:'raleway',sans-serif;
    }
    